build:remote --bes_results_url=https://app.buildbuddy.io/invocation/
build:remote --bes_backend=grpcs://cloud.buildbuddy.io
build:remote --remote_cache=grpcs://cloud.buildbuddy.io
build:remote --remote_executor=grpcs://cloud.buildbuddy.io
build:remote --remote_upload_local_results
build:remote --host_platform=@buildbuddy_toolchain//:platform
build:remote --platforms=@buildbuddy_toolchain//:platform
build:remote --crosstool_top=@buildbuddy_toolchain//:toolchain
build:remote --remote_timeout=600
build:remote --remote_download_minimal
build:remote --jobs=100
build:remote --verbose_failures

build:workflows --config=remote
build:workflows --build_metadata=ROLE=CI
build:workflows --build_metadata=VISIBILITY=PUBLIC
build:workflows --disk_cache=
